<section class="text-gray-600 body-font"> 
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap">
            @for (product of products(); track $index) {
                                                                            <!--esto pasa los ementos q se renderizan al componete hijo-->
                <app-card (agregarCarritoEvent)="onAddToCart($event)" class="w-full md:w-[30rem] p-4" [product]="product"></app-card>
            }
        </div>
    </div>
</section>

