<div class="container px-5 py-24 mx-auto">

  <div class="flex flex-wrap">

    <div class="w-full p-4">

      <div class="bg-gray-100 p-6 rounded-lg hover:shadow-lg transition duration-400 ease-in-out">
        <!--obtengo el id del producto-->
        <a [routerLink]="['/products', (product().id)]">
          <img class="h-[18rem] rounded w-[22rem] object-fill mb-6" src="{{ product().image }}" alt="Imagen">
        </a>

        <p class="text-sm text-gray-400 font-medium title-font mb-4">{{ product().category }}</p>

        <a>
          <h1 class="tracking-widest text-indigo-500  font-medium title-font pb-4"
            [routerLink]="['/products', (product().id)]">{{ product().title | slice:0:30 }}</h1>
        </a>

        <!--el slice se utiliza para recortar texto-->
        <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
          disrupt edison bulbche.</p>
        <div class="flex items-center justify-between">
          <!--el currency se utiliza para poner el signo del dolar-->
          <p class="text-lg text-gray-900 font-medium title-font my-4">{{ product().price | currency }}</p>
          <button class="px-2 py-1 text-white bg-orange-500 rounded hover:bg-orange-700" (click)="onAddtoCart()">
            add to cart
          </button>
        </div>

      </div>

    </div>

  </div>

</div>