@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.show-cart-animation {
    animation: slideDown 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
