<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap mx-auto lg:w-4/5">
      <img alt="" class="object-cover object-center w-full h-64 rounded lg:w-1/2 lg:h-auto" src="{{product()?.image}}">
      <div class="w-full mt-6 lg:w-1/2 lg:pl-10 lg:py-6 lg:mt-0">
        <h1 class="mb-2">{{product()?.category}}</h1>
        <h1 class="text-2xl tracking-widest text-black font-bold "> {{product()?.title}}</h1>

        
        <div class="flex flex-row mt-5 ">
          <span class="flex flex-row">
            <!--recorro el array y segun la calificacion q obtenga me muestra las estrellas q son svg-->
            @for (star of starsArray; track index; let index = $index) {
            <span [innerHTML]="generateStarSVG( index )" class="ml-2 h-auto"></span>
            }
          </span>
          <p class="text-gray-500 text-sm ml-4"> {{product()?.rating?.count}} Reviews</p>
        </div>

        <div class="flex mb-2">
          <p class="mt-6 mb-3 leading-relaxed ">{{product()?.description}}</p>
        </div>

        <div class="flex">
          <span class="text-2xl font-bold text-orange-500 ">price {{product()?.price | currency}}</span>

          <button class="px-2 py-1 ml-auto text-white bg-orange-500 rounded hover:bg-orange-700">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>


  
</section>